body {
    text-align: left;
    font-family: 'Domine', serif;
}

a:link {
    color: #f0b917;
    text-decoration: none
}

a:visited {
    color: #76b39d;
    text-decoration: none
}

a:hover {
    color: #f0b917;
    text-decoration: none;
}
